@model List<MVCFormPractice.Models.Cart>

@{
    ViewBag.Title = "_Cart";
}

@*@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}*@

<h2>Cart</h2>

<p>@DateTime.Now</p>

<table class="table">
    <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>ID</th>
        <th>Link</th>
        @*<th>Date</th>*@
        @*<th>&nbsp;</th>*@
    </tr>
    @foreach (var entry in Model)
    {
        <tr>
            <td>
                @entry.Title
            </td>
            <td>@entry.Author</td>
            <td>@entry.Id</td>
            <td>
                <button type="button" id="@entry.Id" class="btnDelete">Click</button>
            </td>

            @*<td>@DateTime.Now</td>*@

            @*<td>
                    <div class="pull-right">
                        <a href="@Url.Action("Edit", new { id = entry.Id })" class="btn btn-warning btn-sm margin-right">
                            <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                        </a>
                        <a href="@Url.Action("Delete", new { id = entry.Id })" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                        </a>
                    </div>
                </td>*@
        </tr>
    }
</table>



<script>

    $(".btnDelete").on("click", function () {

        $.ajax({
            url: "/Book/RemoveFromCart/" + this.id,
            type: "GET"
        }).done(function () {

            $.ajax({
            url: "/Book/_Cart",
            type: "GET"
        })
            .done(function (partialViewResult) {
                $("#refTable").html(partialViewResult);
            });
        });
    });

        //var val = $('#message1').val("test");
        //console.log(this.id);
</script>